<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Holiday Handler</title>
    <link rel="stylesheet" href="calendar.css">
  </head>
  <body>
    <div class="header">
      <h1 data-test-id="testTitle">Holiday Handler</h1>
      <div class="menu">
        <a data-test-id="testLogout" href="logout"><img src="icons8-logout-50.png" ></a>
      </div>
    </div>
    <div data-test-id="testCalendarCanvas" id="visualization"></div>
<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
<script type="text/javascript">


  async function renderCalendar() {
    var container = await document.getElementById('visualization');
    const itemList = await fetch("/items")
    var items = new vis.DataSet([
    {start: '2022-02-20', end: '2022-03-15', group: 1},
    {start: '2022-08-14', end: '2022-08-23', group: 1},
    {start: '2022-05-18', end: '2022-05-30', group: 2},
    {start: '2022-06-16', end: '2022-06-25', group: 3},
    {start: '2022-08-01', end: '2022-08-19', group: 3},
    {start: '2022-01-16', end: '2022-01-25', group: 4},
    {start: '2022-03-01', end: '2022-03-19', group: 4},
    {start: '2022-05-18', end: '2022-05-30', group: 5},
    {start: '2022-06-16', end: '2022-06-25', group: 5},
    {start: '2022-08-01', end: '2022-08-19', group: 5},
    {start: '2022-01-16', end: '2022-01-25', group: 6},
    {start: '2022-03-01', end: '2022-03-19', group: 6},
  ]);
    const groupList = await fetch("/groups")
    var groups = await groupList.json()
    var timeline = await new vis.Timeline(container, items, groups);
  }

  renderCalendar()
  
</script>
  </body>
</html>