<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Holiday Handler</title>
    <link rel="stylesheet" href="calendar.css">
  </head>
  <body>
    <div class="header">
      <h1 data-test-id="testTitle">Holiday Handler</h1>
      <div class="menu">
        <a data-test-id="testLogout" href="logout"><img src="icons8-logout-50.png" ></a>
      </div>
    </div>
    <div data-test-id="testCalendarCanvas" id="visualization"></div>
<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
<script type="text/javascript">


  async function renderCalendar() {
    var container = await document.getElementById('visualization');
    const itemsList = await fetch("/items")
    const items = await itemsList.json()
    const groupList = await fetch("/groups")
    var groups = await groupList.json()
    var timeline = await new vis.Timeline(container, items, groups);
  }

  renderCalendar()
  
</script>
  </body>
</html>