* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif ;
}

body {
height: 100vh;
width: 100vw;
}

.header {  
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 10vh;
background-image: linear-gradient(to right, #96ceb4, #ffeead);
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.header h1 {
margin-top: 1vh;
margin-bottom: 1vh;
margin-left: 2vw;
right: 50%;
color: black;
font-size: 26px;
text-transform: uppercase;
}

img {
margin-right: 2vw;
padding: 10px;
height: 50px;
}

img:hover {
background-color: rgba(0, 0, 0, 0.05);
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.17);
}

.panel {
}

#visualization {
  height: auto;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vw;
}
/* alternating column backgrounds */
.vis-time-axis .vis-grid.vis-odd {
  background: #f5f5f5;
}
/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: gray;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}

.hidden-field {
  display: none;
}

.submit-holidays {
  background-color:red;
  color:white;
  font-size:44px;
}

.edit-holidays {
  background-color:red;
  color:white;
  font-size:44px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background-image: linear-gradient(to right, #96ceb4, #ffeead);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.info-group {
  display: flex;
  margin-left: 3vw;
}

.footer-info {
  margin: 1vw;
  font-size: larger;
  font-size: 16px;
}

.button-group {
  margin-right: 3vw;
}

.footer-action {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  touch-action: manipulation;
  margin-left: 3vw;
}

.footer-action:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.footer-action:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.footer-action:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.footer-action:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.footer-action:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.footer-action:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.footer-action:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.footer-action:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
