<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login">
        <h1>Holiday Handler</h1>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="input-field">
                <label for="username">Username:</label>
                <input type="username" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="form">Login</button>
        </form>
    </div>
    <div class="error">
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
    </div>
</body>